button:focus {
  outline: none;
}
.signOutbtnP,
.signOutbtnS {
  white-space: nowrap;
  background-color: #ff4d00 !important;
  border-radius: 4px !important;
  /* font-family: "Whitney Semibold" ; */
  /* margin-left: 60% !important; */
}
.signOutbtnP:hover {
  /* color: #414257 !important ;
	background-color: #fff !important;
	border: 1px solid #414257 !important; */
  color: #ff4d00 !important;
  background-color: #fff !important;
  border: 1px solid #ff4d00 !important;
}

.signOutbtnS:hover {
  color: #fff !important ;
  background-color: #414257 !important;
  border: 1px solid #fff !important;
}
.iconButton .MuiSvgIcon-root {
  width: 20px !important;

  margin: 0px 5px 0px 0px;
}
